.languages {
    text-align: right;
    background: $greyLight;

    .language {
        padding    : 10px;
        display    : inline-block;
        color      : $grey;
        transition : all .3s;

        &.active {
            color : $greyDark;
        }

        &:hover {
            background : $blue;
            color      : white;
        }
    }
}
