$grey      : hsl(0, 0%, 75%);
$greyLight : hsl(0, 0%, 90%);
$greyDark  : hsl(0, 0%, 25%);
$blue      : hsl(219, 97%, 60%);

@import './_reset.scss';
@import './_sports.scss';
@import './_events.scss';
@import './_languages.scss';



body {
    background: white;
}



a, a:hover {
    text-decoration : none;
}



h1 {
    padding: 20px;
}



.root {
}



.item {
    border-top  : 1px solid $grey;
    width       : 100%;
    min-height  : 60px;
    display     : block;
    line-height : 25px;
    padding     : 17px;
    box-sizing  : border-box;
    transition  : all .3s;

    &:last-child {
        border-bottom : 1px solid $grey;
    }

    & * {
        pointer-events : none;
        padding-right  : 15px;
    }

    &:hover {
        background : $blue;
        color      : white;
        & * {
            color: white
        }
    }
}
